$color:rgb(112, 4, 4);
body {
	margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    background-color:black;
}
#container {

	width: 100%;
	height: 100%;
	
	
}
div {
	.nav {
		margin: 0 auto;
		left: 50%;
		padding: 5% 3%;
		text-align: center;
        background-color: transparent;
      @media (min-width:320px) and (max-width:1900px){
          margin-left: 300px;
      }
		a {
			color: #fff;
			text-decoration: none;
			font: 20px Raleway;
			margin: 0 10px;
			padding: 10px 10px;
			position: relative;
			z-index: 0;
			cursor: pointer;
		}
	}
	&.pullUpDown {
		a {
            
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
		}
	}
	&.content {
        position: absolute;
        left: 2%;
        width: 250px;
        height: 120px;
        text-align: center;
        background-color: transparent;
        @media(min-width:320px) and (max-width:1900px) {
            top: 2px;
        }
   
		a {
			color: #fff;
            text-decoration: none;
			font: 50px none;
			position: center;
			z-index: 0;
			cursor: pointer;
		}
	}
}
div.pullUpDown a:after, 
div.pullUpDown a:before {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	content: '';
	background: #fff;
	opacity: .3;
	-webkit-transition: all .3s;
    transition: all .3s;
   
}
div.pullUpDown a:hover:after,
div.pullUpDown a:hover:before {
    height: 70%;
}
//slider
#carousel {
   display: list-item;
}
.slider-img {
  
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    height: 700px;
  }
  
  button{
    padding: 8px 14px;
    background:rgba(126, 3, 3, 0.582);
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 60%;
    border-radius: 50%;
    cursor: pointer;
    @media (min-width:320px) and (max-width:1900px) {
        top:450px;
    }
  }
  .next {
    margin-left: 93%;
  }
  .prev {
    margin-left: 60px;
  }
  footer .row2{
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #fff;
    .colon2{
      flex-basis: 25%;
      height: 200px;
      text-align: center;}
      h3{
        color:$color;
        margin-bottom: 8px;
      }
      ul{
        list-style: none;
        font-weight: bold;
        margin-top: 35px;
        li a{
          text-decoration: none;
          color: #fff;
          &:hover{
            color:$color;
            padding: 10px 0;
            transition: all 0.5s ease-in-out;
          }
        }
    }}
    .gallery-home{
        margin-top: 60px;
        width: 80%;
        margin-left: 10%;
        img{
            &:hover{
                opacity: 0.7;
              }
        }
      #sect1{
          width: 100%;
          display: flex;
          .photo-G1{
              width: 50%;
              height: 500px;
               img{
                  width: 100%;
                  height: 100%;
                 
              }
            }
              .photo-P1{
                width: 50%;
                height: 500px;
              img{
                  width: 100%;
                  height: 250px;
              }
            }
           
          }
          .photo-P2{
            img{
                width: 100%;
            }
        }
      }
      .marque-home{
          text-align: center;
          margin: 80px;
      }
    